body {
    font-family: "Playfair Display", sans-serif;
    background-color: gray;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1000px;
    margin: 100px auto;
    padding: 20px;
    background-color: rgb(201, 12, 12);
    box-shadow: 0 0 20px black;
}

h1, h2 {
    text-align: center;
}

.input-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#taskInput {
    width: 70%;
    padding: 10px;
    font-size: 20px;
}

button {
    padding: 10px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    background-color: rgb(11, 90, 181);
}

.task-list, .completed-list {
    margin-top: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    padding: 10px;
    background-color: white;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
    box-shadow: 0 0 5px black;
}

.completed {
    text-decoration: line-through;
    color: black;
}

.timestamp, .completion-timestamp {
    margin-left: 10px;
    font-size: 1em;
    color: black;
}
